.titleGradient{
    background: -webkit-linear-gradient(left bottom, #7d82f9 , #b984ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right, #7d82f9, #b984ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right, #7d82f9, #b984ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right, #7d82f9 , #b984ff); /* 标准的语法 */
}
.contain{
    width: 100%;
    height: 100%;
    min-width: 1024px;
    min-height: 900px;
    border: 1px solid #eee;
    position: relative;
}
.iframeContain{
    width: 90%;
    height: auto;
    position: absolute;
    top: 80px;
    left: 72px;
    /*z-index: 9;*/
}
#homeMap{
    width: 100%;
    height: 900px;
}
.header{
    width: 90%;
    position: absolute;
    top: 20px;
    left: 72px;
    height: 62px;
    z-index: 9;
}
.headerL{
    width: 428px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    background: #fff;
}
.headerL b{
    font-size: 20px;
    color: #5144ff;
    margin: 0 14px;
}
.headerL span{
    font-size: 20px;
    color: #333333;
    margin-right: 20px;
}
.headerR{
    width: 362px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    background: #fff;

}
.tool{
    margin-left: 100px;
    position: relative;
}
.skin{
    position: absolute;
    top: 38px;
    left: 47px;
    z-index: 99;
    width: 60px;
    height: 40px;
    font-size: 12px;
    background: #e6d0f8;
    border-radius: 6px;
    display: none;
}
.skin li{
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.tool b{
    margin-left: 10px;
    cursor: pointer;
}
.badge{
    vertical-align: super;
    background: #e55050;
    padding: 2px 4px;
}
.messageBadge{
    background: #00c78e;
}
.main{
    width: 100%;
    height: 100%;
    min-height: 750px;
    margin-top: 6px;
    position: relative;
}

.keySearch{
    position: absolute;
    left: 70px;
    top: 100px;
    z-index: 9;
}
.search_text{
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.addProgram{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    background: -webkit-linear-gradient(left bottom, #7d82f9 , #b984ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right, #7d82f9, #b984ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right, #7d82f9, #b984ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right, #7d82f9 , #b984ff); /* 标准的语法 */
}
.addProgram i{
    margin-left: 11px;
    color: #fff;
}
.keywords_list{
    width: 250px;
    height: 260px;
    background: #fff;
    border-radius: 10px;
    margin-top: 12px;
    display: none;
}
.keyList{
    cursor: pointer;
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666666;
    margin-left: 14px;
    /*background: url("../img/peizhi.png") no-repeat right center;*/
}
.peizhi{
    float: right;
    cursor: pointer;
}
.keywords_list li:hover{
    color: #7168ff;
}
.tabList{
    position: absolute;
    left: 70px;
    bottom: 0;
    width: 252px;
    height: 322px;
    border-radius: 10px;
    background: #fff;
    z-index: 9;
}
.listHeader{
    font-size: 14px;
    color: #fff;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: -webkit-linear-gradient(left bottom, #7d82f9 , #b984ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right, #7d82f9, #b984ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right, #7d82f9, #b984ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right, #7d82f9 , #b984ff); /* 标准的语法 */
}
.icon-chahao{
    cursor: pointer;
}
#modalTab{
    border-bottom: none;
    height: 46px;
}
#modalTab li{
    width: 56px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 6px;
}
#modalTab li a{
    margin: 0;
    padding: 14px 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #5144ff;
    cursor: default;
    background-color: #fff;
    border-bottom: 4px solid #5144ff;
    font-weight: 500;
    border-right: none;
    border-left: none;
    /*border-bottom-color: transparent;*/
}
.nav-tabs>li>a{
    border: none;
}
#modalContent{
    width: 100%;
    height: 190px;
}
.messageBox{
    width: 100%;
    height: 190px;
}
.formBox{
    padding-top: 10px;
}
.form-group {
    margin-bottom: 6px;
}
.control-label{
    font-size: 14px;
    color: #525252;
}
.formBox input{
    background: #f2f2f2;
    border-radius: 20px;
    height: 24px;
    margin-bottom: 10px;
}
.formBox input:focus{
    border: #b1aaff solid 1px;
    background: #dfdeff;
}
.btn{
    width: 216px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 20px;
    margin-left: 16px;
    color: #fff;
    padding: 0;
    background: -webkit-linear-gradient(left bottom, #7d82f9 , #b984ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right, #7d82f9, #b984ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right, #7d82f9, #b984ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right, #7d82f9 , #b984ff); /* 标准的语法 */
}
.boxRight{
    position: absolute;
    right: 106px;
    top: 100px;
    z-index: 999;
    width: 360px;
    height: auto;
}
.jobList{
    height: 140px;
    background: #fff;
    border-radius: 10px;
}
.jobList .table>thead>tr>th{
    border-bottom: none;
    text-align: center;
    cursor: pointer;
}
.jobList .table>thead>tr>th:hover{
    color: #5144ff;
}
.jobList .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border: none;
    text-align: center;
}
.circleList ul{
    height: 194px;
    background: #fff;
    border-radius: 10px;
    margin-top: 14px;
}
.BMap_pop .BMap_top, .BMap_center, .BMap_bottom{
    border-top: 1px solid #fff;
}
.infoBox{
    width: 250px;
    height: 114px;
    border-radius: 10px;
    border: none;
    padding-left: 16px;
}
.infoTitle{
    width: 100%;
    height: 46px;
    line-height: 46px;
    color: #5144ff;
    font-size: 14px;
}
.process,.mointor{
    height: 30px;
    line-height: 30px;
}
.BMap_contextMenu{
    border-radius: 20px;
}
/*项目配置弹出框*/
.modal-backdrop{
    position: relative;
}
.modal-content{
    width: 322px;
    height: auto;
}
.modal-header{
    width: 100%;
    height: 40px;
    color: #fff;
}
.modal-title{
    font-size: 14px;
    line-height: 1;
}
.form-group1{
    width: 100%;
    height: 36px;
}
.form-control{
    background: #f2f2f2;
    border-radius: 20px;
}
.addPosition{
    height: 99px;
}
.addPosition span p{
    text-align: center;
}
.addPosition span input{
    width: 120px;
    margin-bottom: 6px;
}
.mapChoose{
    margin-left: 28px;
    width: 90px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}
.mapChoose button{
    display: inline-block;
}
.modalList table{
    background: #f2f2f2;
    border-radius: 6px;
    width: 290px;
    height: 190px;
    overflow: auto;
}
.modal-footer{
    border-top: none;

}
.modal-footer button{
    width: 80px;
    height: 34px;
}
